{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block content_header %}
<h1>Investments
  <small>
    Update target portfolio
  </small>
</h1>
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'investment_overview' %}">{% trans 'Investments' %}</a></li>
  {% if object %}
  <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>
  <li class="active">{% trans 'Edit' %}</li>
  {% else %}
  <li class="active">{% trans 'Create' %}</li>
  {% endif %}
</ol>
{% endblock %}

{% block content %}
<div class="box">
  <div class="box-header with-border">
  <h3 class="box-title">{% trans 'Target Distributions' %}</h3>
</div>
<div class="box-body">

    <form method="POST" class="form-horizontal" >
      {% csrf_token %}
        <div class="col-sm-4">
            <h5>{% trans 'Asset Distribution' %}</h5>
            <table class="table table-striped col-6">
              <tr>
                <th>{% trans '' %}</th>

                {% for element in form.securityTypeDistributions %}
                    <th>{{element.name}}</th>
                {% endfor %}
                  <th class="col-sm-1">{% trans 'Total' %}</th>
              </tr>
              <tr>
                <th class="col-md-3">{% trans 'Target (%)' %}</th>
                {% for element in form.securityTypeDistributions %}
                    <td><input type="number" value="0" step="0.01" min="0.00" required="required" class="typeDist" name="A{{element.id}}" onchange="updateAssetSum()"></td>
                {% endfor %}
                   <td class="col-md-3" id="typeSum">0 %</td>

              </tr>
            </table>
        </div>
        <div class="col-sm-12">
            <h5>{% trans 'Region Distribution' %}</h5>

            <table class="table table-striped">
              <tr>
                <th>{% trans '' %}</th>
                {% for element in form.regionDistributions %}
                    <th>{{element.name}}</th>
                {% endfor %}
                <th class="col-sm-1">{% trans 'Total' %}</th>
              </tr>
              <tr>
                <th class="col-sm-1">{% trans 'Target (%)' %}</th>
                {% for element in form.regionDistributions %}
                  <td><input class="col-sm-12 regionDist" value="0" type="number" step="0.01" min="0.00" required="required" name="R{{element.id}}" onchange="updateRegionSum()"></td>
                  {% endfor %}
                <td class="col-sm-1" id="regionSum">0 %</td>
              </tr>
            </table>
        </div>
        <div class="col-sm-12">
            <h5>{% trans 'Bond Maturity' %}</h5>
            <table class="table table-striped">
              <tr>
                <th>{% trans '' %}</th>
                {% for element in form.bondMaturityDistributions %}
                    <th>{{element.name}}</th>
                {% endfor %}
                {% for element in form.bondRegionDistributions %}
                    <th>{{element.name}}</th>
                {% endfor %}
              </tr>
              <tr>
                <th class="col-sm-1">{% trans 'Target (%)' %}</th>
                {% for element in form.bondMaturityDistributions %}
                  <td><input class="col-sm-12" value="0" type="number" step="0.01" min="0.00" required="required" name="BM{{element.id}}"></td>
                {% endfor %}
                {% for element in form.bondRegionDistributions %}
                    <td><input class="col-sm-12" value="0" type="number" step="0.01" min="0.00" required="required" name="BR{{element.id}}"></td>
                {% endfor %}
              </tr>
            </table>
        </div>
        <div class="col-sm-12">
            <button type="submit" onclick="redirect()" class="btn btn-primary col-md-offset-2">{% if object %}{% trans 'Update' %}{% else %}{% trans 'Create' %}{% endif %}</button>
        </div>
    </form>
</div>
</div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'vendor/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'vendor/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap3-typeahead.min.js' %}"></script>
<script type="text/javascript">

function updateAssetSum(){
    sum("typeDist","typeSum")
}

function updateRegionSum(){
    sum("regionDist","regionSum")
}

function sum(inputClass,sumId){
    var sum = 0;
    var dist = document.getElementsByClassName(inputClass)
    for (i = 0; i < dist.length ; i++){
        sum += dist[i].valueAsNumber;
    }
    var element = document.getElementById(sumId);

    element.innerText = sum + "%";
}

</script>
{% endblock %}