{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}

{% block content_header %}
<h1>{% trans 'Investments' %}</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Charts' %}</li>
</ol>
{% endblock %}
{% block content %}
<div class="box">
  <div class="box-header">
  <div class="row text-center">
    <button id="12month" class="btn btn-s btn-default range-chooser">{% trans 'Last year' %}</button>
    <button id="6month" class="btn btn-s btn-default range-chooser">{% trans 'Last 6 Months' %}</button>
    <button id="3month" class="btn btn-s btn-default range-chooser">{% trans 'Last 3 Months' %}</button>
    <button id="currentMonth" class="btn btn-s btn-default range-chooser">{% trans 'Current Month' %}</button>
    <!--button id="custom" class="btn btn-s btn-default range-chooser">Custom Range</button-->
  </div>
</div>
</div>
<div class="row">
<div class="col-md-8">
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Cens</h3>
  </div>
  <div class="box-body">
    <canvas id="balanceChart" width="400" height="200"></canvas>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Stats</h3>
    </div>
    <div class="box-body">
      <table class="table">
          <tr>
          <th>{% trans 'Total Invested' %}</th><td>{{ totalInvested | floatformat:2 }}€</td>
        </tr>
        <tr>
          <th>{% trans 'Total Dividends' %}</th><td>{{ totalDividends | floatformat:2 }} € (0%)</td>
        </tr>
        <tr>
          <th>{% trans 'Total Value' %}</th><td>{{ totalValue | floatformat:2 }} € ({{ totalValuePercent | floatformat:2 }}%)</td>
        </tr>
        <tr>
          <th>{% trans 'Total Return' %}</th><td>{{ totalReturn | floatformat:2 }} €</td>
        </tr>
        </table>
    </div>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-8">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">World Distribution</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Stocks' %}</th>
            {% for element in REGIONS %}
              <th>{% trans element.1 %}</th>

            {% endfor %}

          </tr>
         <tr>
            <th>{% trans 'Actual' %}</th>
            {% for element in worldDistribution.items %}
            <td>{{ element.1 }}%</td>
            {% endfor %}

        </tr>
        <tr>
            <th>{% trans 'Delta' %}</th>
            {% for element in worldDistribution.items %}
            <td>{{ element.1 }}%</td>
            {% endfor %}

        </tr>
       </table>
      <br>
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Bonds' %}</th>
            <th>{% trans '1-3Y' %}</th>
            <th>{% trans '3-5Y' %}</th>
            <th>{% trans '5-7Y' %}</th>
            <th>{% trans '7-10Y' %}</th>
            <th>{% trans '10-15Y' %}</th>
            <th>{% trans '15-20Y' %}</th>
            <th>{% trans '20-30Y' %}</th>
            <th>{% trans '30+' %}</th>
            <th>{% trans 'USA' %}</th>
            <th>{% trans 'EU' %}</th>
          </tr>
        <tr>
            <th>{% trans 'Actual' %}</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
        <tr>
            <th>{% trans 'Delta' %}</th>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
       </table>
    </div>
  </div>
</div><div class="col-md-3">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Asset Distribution</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
        <tr>
          <th></th><th>{% trans 'Stocks' %}</th><th>{% trans 'REIT' %}</th><th>{% trans 'Bonds' %}</th>
        </tr>
        <tr>
          <th>{% trans 'Actual' %}</th><td>{{ stocksWeight | floatformat:2 }} %</td><td>{{ REITWeight | floatformat:2}} %</td><td>{{ bondsWeight | floatformat:2}} %</td>
        </tr>
        <tr>
          <th>{% trans 'Delta' %}</th><td>{{ stocksWeightDelta | floatformat:2 }} %</td><td>{{ REITWeightDelta | floatformat:2 }} %</td><td>{{ BondWeightDelta | floatformat:2 }} %</td>
        </tr>
        </table>
    </div>
  </div>
</div>
{% for securityType,securityList in securities.items %}
<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">{{securityType}}</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Weight' %}</th>
            <th>{% trans 'Ticker' %}</th>
            <th>{% trans 'Quantity' %}</th>
            <th>{% trans 'Current Price' %}</th>
            <th>{% trans 'Average Price' %}</th>
            <th>{% trans 'Total Price' %}</th>
            <th>{% trans 'Total Return' %}</th>
            <th>{% trans 'YTD Return' %}</th>
          </tr>
        {% for security in securityList %}
        <tr>
          <td>{{ security.weight | floatformat:2 }} %</td>
          <td>{{ security.ticker }}</td>
          <td>{{ security.quantity }}</td>
          <td>{{ security.currentPrice | floatformat:2 }} €</td>
          <td>{{ security.averagePrice | floatformat:2 }} €</td>
          <td>{{ security.totalPrice | floatformat:2 }} €</td>
          <td {% if security.totalReturn >= 0 %} class="text-green"{% else %} class="text-red" {% endif %}>{{ security.totalReturn | floatformat:2 }} %</td>
          <td>{{ security.ytdReturn }}</td>
        </tr>
        {% endfor %}
       </table>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}