{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}

{% block content_header %}
<h1>{% trans 'Investments' %}</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Charts' %}</li>
</ol>
{% endblock %}
{% block content %}
<div class="box">
  <div class="box-header">
  <div class="row text-center">
    <button id="12month" class="btn btn-s btn-default range-chooser">{% trans 'Last year' %}</button>
    <button id="6month" class="btn btn-s btn-default range-chooser">{% trans 'Last 6 Months' %}</button>
    <button id="3month" class="btn btn-s btn-default range-chooser">{% trans 'Last 3 Months' %}</button>
    <button id="currentMonth" class="btn btn-s btn-default range-chooser">{% trans 'Current Month' %}</button>
    <!--button id="custom" class="btn btn-s btn-default range-chooser">Custom Range</button-->
  </div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Cens</h3>
  </div>
  <div class="box-body">
    <canvas id="balanceChart" width="400" height="200"></canvas>
  </div>
</div>
</div>
<div class="col-md-2">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Distribution</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
        <tr>
          <th></th>
          <th>{% trans 'Actual' %}</th>
          <th>{% trans 'Planned' %}</th>
        </tr>
          <tr>
          <th>{% trans 'Stocks' %}</th><td>0</td><td>0</td>
        </tr>
        <tr>
          <th>{% trans 'REIT' %}</th><td>0</td><td>0</td>
        </tr>
        <tr>
          <th>{% trans 'Bonds' %}</th><td>0</td><td>0</td>
        </tr>
        </table>
    </div>
  </div>
</div>
<div class="col-md-4">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Stats</h3>
    </div>
    <div class="box-body">
      <table class="table">
          <tr>
          <th>{% trans 'Total Invested' %}</th><td>0</td>
        </tr>
        <tr>
          <th>{% trans 'Total Dividends' %}</th><td>0 (0%)</td>
        </tr>
        <tr>
          <th>{% trans 'Total Value' %}</th><td>0 (0%)</td>
        </tr>
        </table>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Stocks</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Weight' %}</th>
            <th>{% trans 'Ticker' %}</th>
            <th>{% trans 'Quantity' %}</th>
              <th>{% trans 'Current Price' %}</th>
            <th>{% trans 'Average Price' %}</th>
            <th>{% trans 'Total Price' %}</th>
            <th>{% trans 'Total Return' %}</th>
            <th>{% trans 'YTD Return' %}</th>
          </tr>
        {% for security in stocks %}
        <tr>
          <td>%FIXME%</td>
          <td>{{ security.1.ticker }}</td>
          <td>{{ security.0 }}</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
          <td>0 €</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
        </tr>
        {% endfor %}
       </table>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">REIT</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Weight' %}</th>
            <th>{% trans 'Ticker' %}</th>
            <th>{% trans 'Quantity' %}</th>
              <th>{% trans 'Current Price' %}</th>
            <th>{% trans 'Average Price' %}</th>
            <th>{% trans 'Total Price' %}</th>
            <th>{% trans 'Total Return' %}</th>
            <th>{% trans 'YTD Return' %}</th>
          </tr>
        {% for security in reit %}
        <tr>
          <td>%FIXME%</td>
          <td>{{ security.1.ticker }}</td>
          <td>{{ security.0 }}</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
        </tr>
        {% endfor %}
       </table>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Bonds</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Weight' %}</th>
            <th>{% trans 'Ticker' %}</th>
            <th>{% trans 'Quantity' %}</th>
              <th>{% trans 'Current Price' %}</th>
            <th>{% trans 'Average Price' %}</th>
            <th>{% trans 'Total Price' %}</th>
            <th>{% trans 'Total Return' %}</th>
            <th>{% trans 'YTD Return' %}</th>
          </tr>
        {% for security in bonds %}
        <tr>
          <td>%FIXME%</td>
          <td>{{ security.1.ticker }}</td>
          <td>{{ security.0 }}</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
          <td>%FIXME%</td>
        </tr>
        {% endfor %}
       </table>
    </div>
  </div>
</div>
</div>

{% endblock %}