{% extends 'silverstrike/base.html' %}
{% load i18n %}
{% load static %}

{% block content_header %}
<h1>{% trans 'Investments' %}</h1>
<ol class="breadcrumb">
  <li><a href="/">{% trans 'Home' %}</a></li>
  <li class="active">{% trans 'Charts' %}</li>
</ol>
{% endblock %}
{% block content %}
<div class="box">
  <div class="box-header">
  <div class="row text-center">
    <button id="alltime" class="btn btn-s btn-default range-chooser">{% trans 'All time' %}</button>
    <button id="12month" class="btn btn-s btn-default range-chooser">{% trans 'Last year' %}</button>
    <button id="6month" class="btn btn-s btn-default range-chooser">{% trans 'Last 6 Months' %}</button>
  </div>
</div>
</div>
<div class="row">
<div class="col-md-8">
<div class="box">
  <div class="box-body">
    <canvas id="balanceChart" width="400" height="200"></canvas>
  </div>
</div>
</div>
<div class="col-md-4">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Stats</h3>
    </div>
    <div class="box-body">
      <table class="table">
          <tr>
          <th>{% trans 'Total Invested' %}</th><td>{{ totalInvested | floatformat:2 }}€</td>
        </tr>
        <tr>
          <th>{% trans 'Total Dividends' %}</th><td>{{ totalDividends | floatformat:2 }} € (0%)</td>
        </tr>
        <tr>
          <th>{% trans 'Total Value' %}</th><td>{{ totalValue | floatformat:2 }} € ({{ totalValuePercent | floatformat:2 }}%)</td>
        </tr>
        <tr>
          <th>{% trans 'Total Return' %}</th><td>{{ totalReturn | floatformat:2 }} €</td>
        </tr>
        </table>
    </div>
  </div>
</div>
</div>
<div class="col-md-6">
  <div class="box">
    <div class="box-body">
      <canvas id="distributionChart2" width="400" height="200"></canvas>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="box">
    <div class="box-body">
      <canvas id="stockDistributionChart" width="400" height="200"></canvas>
      <p style="font-size: 7pt;">Weight Percentage (Difference to target)</p>
    </div>
  </div>
  </div>
<div class="row">
{% for securityType,securityList in securities.items %}
<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">{{securityType}}</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Weight' %}</th>
            <th>{% trans 'Ticker' %}</th>
            <th>{% trans 'Quantity' %}</th>
            <th>{% trans 'Current Price' %}</th>
            <th>{% trans 'Average Price' %}</th>
            <th>{% trans 'Total Price' %}</th>
            <th>{% trans 'Total Return' %}</th>
            <th>{% trans 'YTD Return' %}</th>
          </tr>
        {% for security in securityList %}
        <tr>
          <td>{{ security.weight | floatformat:2 }} %</td>
          <td>{{ security.ticker }}</td>
          <td>{{ security.quantity }}</td>
          <td>{{ security.currentPrice | floatformat:2 }} €</td>
          <td>{{ security.averagePrice | floatformat:2 }} €</td>
          <td>{{ security.totalPrice | floatformat:2 }} €</td>
          <td {% if security.totalReturn >= 0 %} class="text-green"{% else %} class="text-red" {% endif %}>{{ security.totalReturn | floatformat:2 }} %</td>
          <td>{{ security.ytdReturn }}</td>
        </tr>
        {% endfor %}
       </table>
    </div>
  </div>
</div>
{% endfor %}
<div class="col-md-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">World Distribution</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Stocks' %}</th>
            {% for element in REGIONS %}
              <th>{% trans element.1 %}</th>

            {% endfor %}

          </tr>
         <tr>
            <th>{% trans 'Actual' %}</th>
            {% for element in worldDistribution.items %}
            <td>{{ element.1 | floatformat:2 }}%</td>
            {% endfor %}

        </tr>
        <tr>
            <th>{% trans 'Delta' %}</th>
            {% for element in worldDistributionDelta.items %}
            <td>{{ element.1 | floatformat:2}}%</td>
            {% endfor %}

        </tr>
       </table>
      <br>
      <table class="table table-striped">
          <tr>
            <th>{% trans 'Bonds' %}</th>
            <th>{% trans '1-3Y' %}</th>
            <th>{% trans '3-5Y' %}</th>
            <th>{% trans '5-7Y' %}</th>
            <th>{% trans '7-10Y' %}</th>
            <th>{% trans '10-15Y' %}</th>
            <th>{% trans '15-20Y' %}</th>
            <th>{% trans '20-30Y' %}</th>
            <th>{% trans '30+' %}</th>
          </tr>
        <tr>
            <th>{% trans 'Actual' %}</th>
            {% for element in maturityDistribution.items %}
            <td>{{ element.1 | floatformat:2 }}%</td>
            {% endfor %}
        </tr>
        <tr>
            <th>{% trans 'Delta' %}</th>
            {% for element in maturityDistributionDelta.items %}
            <td>{{ element.1 | floatformat:2 }}%</td>
            {% endfor %}
        </tr>
       </table>
    </div>
  </div>
</div>
<div class="col-md-3">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Asset Distribution</h3>
    </div>
    <div class="box-body">
      <table class="table table-striped">
        <tr>
          <th></th><th>{% trans 'Stocks' %}</th><th>{% trans 'REIT' %}</th><th>{% trans 'Bonds' %}</th>
        </tr>
        <tr>
          <th>{% trans 'Actual' %}</th><td>{{ stocksWeight | floatformat:2 }} %</td><td>{{ REITWeight | floatformat:2}} %</td><td>{{ bondsWeight | floatformat:2}} %</td>
        </tr>
        <tr>
          <th>{% trans 'Delta' %}</th><td>{{ stocksWeightDelta | floatformat:2 }} %</td><td>{{ REITWeightDelta | floatformat:2 }} %</td><td>{{ BondWeightDelta | floatformat:2 }} %</td>
        </tr>
        </table>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}

<script src="{% static 'vendor/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/chartjs-plugin-labels.min.js' %}"></script>
<script>
    var date_now = new Date()
    var date_start = new Date()
    date_start.setMonth(date_start.getMonth() - 12)

    drawGraphic(date_start,date_now)
    drawDistribution()

    $("#12month").click( (event) => {
        var date_now = new Date();
        var date_start = new Date();
        date_start.setMonth(date_start.getMonth() - 12);
        drawGraphic(date_start,date_now)
    })

    $("#6month").click( (event) => {
        var date_now = new Date();
        var date_start = new Date();
        date_start.setMonth(date_start.getMonth() - 6);
        drawGraphic(date_start,date_now)
    })

    $("#alltime").click( (event) => {
        var date_now = new Date();
        var date_start = new Date();
        date_start.setFullYear(date_start.getFullYear() - 10);
        drawGraphic(date_start,date_now)
    })

    function drawGraphic(start_date,end_date) {
        var url ="{% url 'api_investment_overview_data' 'DATE1' 'DATE2' %}".replace('DATE1',start_date.getTime()).replace('DATE2',end_date.getTime())
        $.getJSON(url, {}, function(res, status) {
          var labelList = []

          res.invested.forEach(
            (element) => {
              labelList.push(Date.parse(element.x));
            }
          );

          res.dividends.forEach(
            (element) => {
              labelList.push(Date.parse(element.x));
            }
          );
          labelList.sort( (a,b) => {return a-b})
          labelList = labelList.map( function(element) {
             return new Date(element).toISOString().split('T')[0]
            })

          var data = {
              labels: labelList,
              datasets: [{
                label: "Dividends",
                backgroundColor: "rgba(255,255,255,0)",
                borderColor: "rgba(99,132,255,1)",
                borderWidth: 2,
                hoverBackgroundColor: "rgba(255,99,132,0.4)",
                hoverBorderColor: "rgba(255,99,132,1)",
                data: res.dividends
              },{
                label: "Invested",
                backgroundColor: "rgba(255,255,255,0)",
                borderColor: "rgba(132,99,255,1)",
                borderWidth: 2,
                hoverBackgroundColor: "rgba(255,99,132,0.4)",
                hoverBorderColor: "rgba(255,99,132,1)",
                data: res.invested
              },{
                label: "Total Value",
                backgroundColor: "rgba(255,255,255,0)",
                borderColor: "rgba(255,99,132,1)",
                borderWidth: 2,
                hoverBackgroundColor: "rgba(255,99,132,0.4)",
                hoverBorderColor: "rgba(255,99,132,1)",
                data: res.totalValue,
              }]
            };

            var option = {
              scales: {
                yAxes: [{
                  stacked: false,
                  gridLines: {
                    display: true,
                    color: "rgba(255,99,132,0.2)"
                  }
                }],
                xAxes: [{
                  gridLines: {
                    display: false
                  }
                }]
              }
            };

            var ctx = document.getElementById("balanceChart").getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'line',
              options: {
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero: false
                          }
                      }]
                  }
              },
              data: data
            });
        });
    }

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    function drawDistribution() {
        var date_now = new Date()
        var date_start = new Date()
        date_start.setMonth(date_start.getMonth() - 12)
        var url ="{% url 'api_investment_stock_distribution_data' %}"
        var url_target ="{% url 'api_investment_stock_distribution_target_data' %}"
        $.getJSON(url, {}, function(current_response, status) {
          $.getJSON(url_target, {}, function(target_response, status) {
            var ctx = document.getElementById("stockDistributionChart").getContext('2d');
            var myChart = new Chart(ctx, {
              type: 'doughnut',
              data: {
                labels: current_response.labels,
                datasets: [{
                  backgroundColor: [
                    '#ff9900',
                    '#dc3912',
                    '#3366cc'
                  ],
                  data: current_response.data
                }]
              },
              options: {    
                title: {
                  display: true,
                  text: "Stocks"
                },
                legend: {
                  position: 'left'
                },
                plugins: {
                  labels: {
                    render: function (args) {
                      var index = target_response.labels.indexOf(args.label)
                      var delta = args.value - target_response.data[index]
                      return args.value + "%\n ("+delta.toFixed(1)+"%)";
                    },
                    fontColor: 'black',
                    fontStyle: 'bold',
                    precision: 2
                  }
                }
              }
            });
          });
        });
    }
</script>
{% endblock %}
